<!doctype html>
<html>
    {% load static %}
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>Listado de producto</h1>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Nombre producto</td>
                            <td>Precio</td>
                            <td>Descripcion</td>
                            <td>Marca</td>
                            <td>stock</td>
                            <td>categoria</td>
                            <td>Foto</td>
                        </tr>
                    </thead>
                    {% for p in productos %}

                    <tbody>
                        <tr>
                            <td>{{ p.nombreProducto }}</td>
                            <td>{{ p.precioProducto }}</td>
                            <td>{{ p.descripcionProducto }}</td>
                            <td>{{ p.marcaProducto }}</td>
                            <td>{{ p.stockProducto }}</td>
                            <td>{{ p.categoriaProducto }}</td>                            
                            <td><img src="{{ p.fotoProducto }}"  height="300" width="300"></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>  
            </div>
        </div>
    </body>
</html>