{% extends 'app/base.html' %}



{% block contenido %}
{% load static %}

<script>
      function eliminarOng(idOng){
            Swal.fire({
                  "title":"¿Estas seguro?",
                  "text":"Esta acción no se puede deshacer",
                  "icon":"question",
                  "showCancelButton":true,
                  "cancelButtonText":"No, cancelar.",
                  "confirmButtonText":"Si, Eliminar.",
                  "reverseButtons":true,
                  "confirmButtonColor":"#dc3545"

            })
            .then(function(result) {
                  if(result.isConfirmed) {
                        window.location.href = "/eliminar-ong/"+idOng+"/"
                  }
            })
      }

</script>

<br><br><br><br>
<div class="row">
      <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                  <div class="card-body">
                        <div class="container">
                              <h1>Listado de Organizaciones</h1>
                              {% if perms.app.add_ong %}
                              <div class="botonregistro">
                              <tr><td><a href="{% url 'agregar_ong' %}" class="btn btn-success btn-sm">Agregar Nueva Organizacion</a></td></tr>
                              {% endif %}
                                    <div class="row">
                                          <div class="col-12">
                                                <div class="table-responsive">
                                                      <table class="table">
                                                            <br>
                                                            <thead>
                                                                  <tr>
                                                                        <td>Nombre Organizacion</td>
                                                                        <td>Fecha </td>
                                                                        <td>Descripcion</td>
                                                                        <td>Foto</td>
                                                                        <td colspan="2">Opciones</td>
                                                                  </tr>
                                                            </thead>
                                                            {% for o in ong %}

                                                            <tbody>
                                                                  <tr>
                                                                        <td>{{ o.nombreOng }}</td>
                                                                        <td>{{ o.fechaOng }}</td>
                                                                        <td>{{ o.descripcionOng }}</td>                         
                                                                        <td><img src="{{ o.fotoOng}}"  width="200" height="200"></td>
                                                                        {% if perms.app.change_ong %}
                                                                        <td><a href="{% url 'modificar_ong' o.idOng %}" class="btn btn-info btn-sm">Modificar</a></td>
                                                                        {% endif %}
                                                                        {% if perms.app.delete_ong %}
                                                                        <td><a href="#" onclick="eliminarOng({{ o.idOng }})" class="btn btn-danger btn-sm">Eliminar</a></td>
                                                                        {% endif %}
                                                                  
                                                                        
                                                                  </tr>
                                                            </tbody>
                                                            {% endfor %}
                                                      </table>  
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <br><br><br>
      </div>
</div>
{% endblock %}