{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}
<br><br><br><br>

<div class="container">
      <div class="row">
            <div class="col-12 align-self-center"><h1 class="display-1">TIENDA</h1></div>
      </div>
      <div class="row">


            <div class="col-md-8">
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for producto in productos %}
                      <div class="col">
                        <div class="card h-100"  id="{{producto.idProducto}}">
                          <img src="{{ producto.fotoProducto }}" class="card-img-top" alt="..." width="90" height="70">
                          <div class="card-body">
                            <h5 class="card-title">{{ producto.nombreProducto }}</h5>
                            <p class="card-text"><span>Stock : </span >{{ producto.stockProducto }}</p>
                            <p class="card-text"><span>$</span >{{ producto.precioProducto }}</p>
                                                <!-- Button trigger modal 1-->
                                                <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Mod_{{ producto.idProducto }}">
                                                  Detalle
                                                </a>
                          </div>
                        </div>
                      </div>
                     
              
              
                    
              
              
              
              
              
              
              
                   
              <!-- Modal 1 -->
              <div class="modal fade" id="Mod_{{producto.idProducto}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">{{ producto.nombreProducto }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
              
                      <div class="col">
                        <div class="card h-100">
                          <img src="{{ producto.fotoProducto }}" class="card-img-top" alt="..." width="90" height="70">
                          <div class="card-body">
                            <h5 class="card-title">{{ producto.nombreProducto }}</h5>
                            <p class="card-text">Stock: {{ producto.stockProducto }}</p>
                            <p class="card-text"><span>$</span >{{ producto.precioProducto }}</p>
                          </div>
                        </div>
                      </div>
              
                    </div>
                    <H5 class="descproduct">Descripcion</H5>
                    <div class="modal-footer">
                      
                      <hr>
                      <p class="textDescProduct">{{producto.descripcionProducto}}</p>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">atras</button>  
                      <a class="div-btn-modal1" href="{% url 'Add' producto.idProducto %}">     
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-backdrop="false">Comprar</button></a>
                      
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Fin Modal 1 -->
              {% endfor %}
              </div>
              </div>           


            <div class="col-4">
                  {% include "app/inc/carrito.html" %}
            </div>
      </div>

</div>
<br>
{% endblock %}